<div class="container">
  <header>
    <h1>Welcome to Blogy Project!</h1>
  </header>
  <section class="about">
    <p>
      I’m Borhan Gabr, a passionate Software Engineer with a strong focus on
      Backend Development.
    </p>
  </section>
  <footer>
    <p>Thank you for visiting!</p>
  </footer>
</div>
